<div class="row">
  <div class="col-sm-8">
    <h1>Users Admin (New)</h1>
  </div>

  <div class="col-sm-4 btn-spaced">
    <%= link_to "Back", users_url, class: 'btn btn-default btn-sm float-right' %>
  </div>
</div>

<%= form_for @user do |f| %>

  <% unless f.object.errors.blank? %>
    <div class="alert">
      <h2>Error:</h2>
      <%= f.object.errors.full_messages %>
    </div>
  <% end %>

  <div class="well">
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>

    <hr />

    <div class="text-right">
      <%= link_to "Back", users_url, class: 'btn btn-default' %>
      <%= f.submit class: 'btn btn-bright' %>
    </div>
  </div>

<% end %>
